
<ul>
   <% @movies.each do |movie| %>
        <li>
         <strong> <%= movie.title %> </strong>
         had a rating of <%= movie.rating %>,
         grossed <%= number_to_currency(movie.total_gross, precision: 0, unit: "₹", separator: ".", delimiter: ",") %> Crores
        </li>
    <% end %>
</ul>

